<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mtech.rsrtcsc">

    <!-- Required Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- For media access based on Android version -->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->

    <!-- Location and others (commented/unnecessary for image capture) -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" tools:ignore="ProtectedPermissions" /> -->

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- For UPI payment intent -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" android:host="pay" />
        </intent>
        <package android:name="com.google.android.apps.nbu.paisa.user"/>
        <package android:name="com.phonepe.app"/>
        <package android:name="net.one97.paytm"/>
        <package android:name="in.org.npci.upiapp"/>
    </queries>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSRTC"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".ui.activity.billdesk.RechargeStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.RechargeActivity"
            android:exported="false"
            tools:ignore="MissingClass" /> <!-- tools:replace="android:theme" -->
        <activity
            android:name=".ui.activity.calculation.Police_FixPassFareCalculation"
            android:exported="false" />
        <activity
            android:name=".ui.activity.capture.Police_Upload_Document"
            android:exported="false" />
        <activity
            android:name=".ui.activity.capture.Police_Image_Capture"
            android:exported="false" />
        <activity
            android:name=".ui.activity.concession.Police_Concession"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.Police_Home"
            android:exported="false" />
        <activity
            android:name=".ContactUs"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.Profile"
            android:exported="false" />
        <activity
            android:name=".ui.activity.cardstatuss.Rpf_VirtualCard"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.HomeScreen"
            android:exported="true" />
        <activity
            android:name=".ui.activity.cardstatuss.VirtualCard"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.cardstatuss.CardStatusView"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.cardstatuss.CardStatus"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.drawer.report.ReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.drawer.Recharge.RechargeCardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.auth.forgot.ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.billdesk.PaymentStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.calculation.FixPassFareCalculation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.concession.ConcessionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.auth.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.capture.UploadDocumentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PassTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.route.SelectRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.capture.ImageCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FareCalculation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.route.PassRouteSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.auth.signup.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.splash.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

     <!--   <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>